.policeTitre() {
    font-size: xx-large;
    font-family:Apple Chancery;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

.policeTexte(){
    font-size: large;
    font-family:Snell Roundhand;
    text-shadow: 2px 2px 4px black;
}

h1 {
    .policeTitre();
}

label, legend {
    .policeTexte();
}
